receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  debug:
    verbosity: detailed
  influxdb:
    endpoint: http://localhost:8086
    timeout: 500ms
    org: organization
    bucket: bucket
    token: token

service:
  pipelines:
    metrics:
      receivers: [otlp]
      exporters: [influxdb, debug]
